#about {
  width: 100%;
  .wrapper {
    padding: 20px;
  }
  .content {
    padding: 20px;
    background: linear-gradient(to right, hsl(154, 61%, 40%), hsl(182, 77%, 40%));
    p {
      display: block;
      margin: 0 auto;
      max-width: 720px;
      font-size: 20px;
      font-weight: 800;
      color: white;
    }
  }
  h4 {
    display: inline-block;
    margin: 15px 0; // background: $main-orange;
    color: $main-orange;
  }
  section.resume {
    max-width: 720px;
    margin: 0 auto;
  }
  section section {
    margin-bottom: 30px;
  }
  li {
    list-style: none;
  }
  table {
    width: 100%;
  }
  td.project-name {
    position: relative;
    width: 30%;
    a {
      color: hsl(154, 61%, 30%);
    }
    a:hover {
      color: hsl(154, 61%, 50%);
    }
  }
  #employment,
  #education,
  #certifications {
    td:first-child {
      width: 25%;
    }
    td:nth-child(2) {
      width: 45%;
      padding: 0 5px;
    }
  }
}