#home {
  max-width: 720px;
  padding: 20px;
  h1 {
    line-height: 1.1;
  }
  p {
    font-size: 24px;
  }
  .special {
    background: linear-gradient(to right, hsl(154, 61%, 40%), hsl(182, 77%, 40%));
    color: #fff;
  }
  article.center {
    text-align: center;
  }
}

@include respond-above(sm) {
  .decoration-shape {
    left: 50%;
  }
}

@include respond-below(sm) {
  h1 {
    font-size: 34px;
  }
}

#prompt {
  display: inline-block;
  width: 0.5em;
  height: .75em;
  background-color: $main-orange;
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;
}