* {
  box-sizing: border-box;
}

body {
  background-color: rgb(250, 250, 250);
}

ul {
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@include respond-above(md) {
  .container {
    margin-top: 0;
    margin-left: 140px;
  }
}

footer {
  padding-right: 20px;
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  font-weight: 800;
  color: #eee;
  background: $main-orange; // opacity: .8;
  p {
    float: right;
    text-align: right;
    margin: 0;
  }
}