* {
  box-sizing: border-box;
}

body {
  background-color: #EEEEEE;
}

#container {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  justify-items: center;
}

@include respond-above(sm) {
  #container {
    grid-template-columns: auto 1fr;
  }
}